@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;700&display=swap');
@import "~@fontsource/space-grotesk";
@import "~@fontsource/darker-grotesque";

:root {
  /* darkmode color */
  --colorbackground: #1c1c1c;
  --colorprimary: #f5f5dc;
  --colorsecondary: #d7d7a8;
  --coloraccent: #507963;

  /* lightmode color */
  /* tbd */
  
  /* fonts */
  --ff: Familjen Grotesk;
  --ff-links: Space Grotesk;
  --ff-details: Darker Grotesque;

  /* font size */
  --font-xxs: 2rem;
  --font-xs: 2.5rem;
  --font-s: 3rem;
  --font-m: 3.5rem;
  --font-l: 4rem;
  --font-xl: 4.5rem;

  /* margins */
  --margin-xxs: 3rem;
  --margin-xs: 4rem;
  --margin-s: 5rem;
  --margin-m: 6rem;
  --margin-l: 7rem;
  --margin-xl: 8rem;

  /* text */
  /* font weigh - font size - line height - font family */
  --h1: normal 96px/128px var(--ff); /* name */
  --h2: normal 72px/120px var(--ff-links); /* work about contact */
  --h3: normal 40px/56px var(--ff-details); /* devops bachelor msc */
  --h4: normal 32px/64px var(--ff-links); /* li tw ig gi */
  --h5: normal 32px/64px var(--ff); /* valence spain */
}

body {
  background: var(--colorbackground);
  background-image:/* webpackIgnore: true */ url('/assets/texture.png');
  height: 100vh;
  display: flex;
  /* max-width: 1280px; */

  /* horizontal margin */
  margin-left: var(--margin-xl);
  margin-right: var(--margin-xl);

  /* vertical margin */
  margin-top: var(--margin-m);
  margin-bottom: var(--margin-m);
}

div {
  display: flex;
}
.parent-container {
  flex-direction: row;
  gap: 200px;
}
.first-column {
  flex-direction: column;
  justify-content: flex-end;
}
.second-column {
  flex-direction: column;
  justify-content: flex-start;
}
.third-column {
  flex-direction: column;
  justify-content: flex-start;
}

a {
  background: none;
  text-decoration: none;
  color: var(--colorprimary);
}
.contact-section {
  font: var(--h2);
}
.media-section {
  font: var(--h4);
}

p {
  background: none;
}
.name {
  color: var(--colorprimary);
  font: var(--h1);
}
.location {
  color: var(--colorprimary);
  font: var(--h5);
}
.details {
  color: var(--colorprimary);
  font: var(--h3);
}

h1 {
  font: var(--h1);
}
h2 {
  font: var(--h2);
}
h3 {
  font: var(--h3);
}
h4 {
  font: var(--h4);
}